<div class="row" style="border:solid 1px; margin: 10px;">
    
    <div class="col-lg-6">
        <p>Name- Anurag Katiyar</p>
        <p>Address- A632 Naveen Nagar Noida</p>
    </div>

    <div class="col-lg-6">
        <p><b>Description</b></p>
        <p>This is description NSJbdjsn kbdshj dsh dbvhuz d shud csvdhbx es dg chSb</p>
    </div>
</div>
